<div class="upload">
    <div class="upload-files">
        <header>
            <p>
                <i class="cloud fa fa-cloud-upload-alt" aria-hidden="true"></i>
                <span class="up">{{ get_text(page_text, 2) }}</span>
                <i class="arrow fa fa-arrow-right" aria-hidden="true"></i>
                <span class="load">{{ get_text(page_text, 3) }}</span>
            </p>
        </header>
        <div class="body" id="drop">
            <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
            <p class="pointer-none">{{ get_text(page_text, 4) }} <br /> {{ get_text(page_text, 5) }}</p>
            <p class="pointer-none"><b>{{ get_text(page_text, 6) }}</b> {{ get_text(page_text, 7) }} <br /> {{ get_text(page_text, 8) }} <a href="" id="triggerFile">{{ get_text(page_text, 9) }}</a> {{ get_text(page_text, 10) }}</p>
            <input type="file" name="css_file"/>
        </div>
        <footer>
            <div class="list-files">
                <!--   template   -->
            </div>
            <button type="submit" class="importar">{{ get_text(page_text, 11) }}</button>
        </footer>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='fileUpload.js') }}"></script>