<div class="upload">
    <div class="upload-files">
        <header>
            <p>
                <i class="cloud fa fa-cloud-upload-alt" aria-hidden="true"></i>
                <span class="up">Element</span>
                <i class="arrow fa fa-arrow-right" aria-hidden="true"></i>
                <span class="load">Class</span>
            </p>
        </header>
        <div class="body" id="drop">
            <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
            <p class="pointer-none">Move CSS styles off of <br /> elements and into classes</p>
            <p class="pointer-none"><b>Drag and drop</b> your CSS file here <br /> or <a href="" id="triggerFile">browse</a> to begin the upload</p>
            <input type="file" name="css_file"/>
        </div>
        <footer>
            <div class="list-files">
                <!--   template   -->
            </div>
            <button type="submit" class="importar">Upload File</button>
        </footer>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='fileUpload.js') }}"></script>